@import url(./fonts.css);

/* CUSTOM PROPS */
:root {
  --montserrat: "Montserrat";
  --comfortaa: "Comfortaa";
  --roboto: "Roboto";
  --orange: #f18128;
  --orange-link: #ed8e00;
  --white: #fff;
  --darkblue: #040d1f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: var(--montserrat);
  background-color: var(--darkblue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1144px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* SIMILARY STYLE */
.all-btn {
  display: inline-block;
  max-width: 166px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  background: var(--orange);
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #000;
  transition: 0.5s;
}

.all-btn:hover {
  background-color: var(--darkblue);
  color: var(--white);
}
.all-btn:active {
  opacity: 0.7;
}

.title {
    width: max-content;
    color: var(--orange);
    font-family: var(--comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
}


/* SITE ADS */

.site-ads {
    display: block;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    color: var(--white);
}


.site-ads__desc {
    max-width: 166px;
    width: 100%;
    font-family: var(--comfortaa);
    font-size: 16px;
    font-weight: 400;
}

/* SITE ADS */


/* SITE-NAV */

.site-nav {
  background-color: #000;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav__logo {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
  color: var(--white);
  font-family: var(--comfortaa);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

}
.logo-img {
  width: 103px;
  height: 42px;
  object-fit: cover;
}
.sitenav-list {
  display: flex;
  column-gap: 24px;
}

.sitenav-link {
  display: block;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 42px 6px;
  position: relative;
  transition: .5s;
}

.sitenav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-radius: 23px 10px 0px 0px;
  background: var(--orange-link);
  position: absolute;
  bottom: 0;
  transition: .5s;
}
.sitenav-link:hover::after {
  width: 100%;
}
.sitenav-link:hover {
  color: var(--orange-link);
}

/* SITE-NAV */


/* SITE-HERO */
.site-hero {
  width: 100%;
  height: 640px;
  position: relative;
}
.site-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.site-hero__content {
  width: 100%;
  height: 100%;
  background: rgba(7, 15, 25, 0.75);
  padding-top: 180px;
}

.site-hero__title {
  max-width: 600px;
  width: 100%;
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
}
.site-hero__desc {
  max-width: 570px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: justify;
  color: #C8C8C8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.site-hero__button {
}
.site-hero__btn {
}
.all-btn {
}
/* SITE-HERO */